s# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

*.egg-info
*.mo
*.pyc
.installed.cfg
.mr.developer.cfg
.project
.pydevproject
.settings/
.tmp/
bin/
buildout-cache/
develop-eggs/
parts/
src/*
!src/plonetheme
var/
htmlcov/
build/
dist/
.coverage
*.log
output.xml
*.egg-info/
.installed.cfg
*.egg

bower_components
node_modules