/* ==========================================================================
   HEADER
   ========================================================================== */




#fh5co-header{
    left: 0;
    z-index: 4;
}

.owl1{
    background-image:url(../images/slide_1.jpg)
}
.owl3{
    background-image:url(../images/slide_3.jpg)
}
.owl2{
    background-image:url(../images/slide_2.jpg)
}
.owl4{
    background-image:url(../images/slide_4.jpg)
}