/* ==========================================================================
   SEARCH PAGE and LIVE SEARCH
   ========================================================================== */




.nav {

    #portal-searchbox{
        float: none;

        .pat-livesearch{

            .LSBox{

                .search-icon{
                    padding: 9px;
                }
            }
        }
    }
}

input[type="submit"].searchPage{
    padding: 8px;
    font-size: 17px;
}